# **Множества**

Множество (set) - контейнер данных, который не содержит повторяющихся элементов. В Python множества не сортируются автоматически. К элементам множества нельзя обращаться по индексу, но можно перебирать все элементы в цикле.


# Создание сета

1. Фигурные скобки

In [ ]:
s = {'a', 'b', 'c'}
print(s)

{'a', 'b', 'c'}

In [ ]:
s = {i for i in range(5)}
print(s)

{0, 1, 2, 3, 4}

2. Метод `set()`

In [ ]:
s = set(['a', 'b', 'c', 'c', 'c'])
print(s)

{'a', 'b', 'c'}

In [ ]:
s = set('abracadabra')
print(s)

{'c', 'b', 'd', 'a', 'r'}



> Обратите внимание на то, как создается пустой сет!

In [ ]:
s1 = {}
print(f's1 is {type(s1)}')

s2 = set()
print(f's2 is {type(s2)}')

s1 is <class 'dict'>
s2 is <class 'set'>

# Добавление элементов
Есть два метода: `add()` для добавления одного элемента и `update()` для добавления сразу нескольких.

In [ ]:
s = {'red', 'orange', 'yellow'}
s.add('green')
print(s)

s.update(['blue', 'purple'])
print(s)

{'red', 'orange', 'green', 'yellow'}
{'red', 'yellow', 'orange', 'purple', 'green', 'blue'}

# Удаление элементов
Есть два метода: `discard()` и` remove()`. Посмотрим, чем они отличаются:

In [ ]:
s = {'red', 'yellow', 'orange', 'purple', 'green', 'blue'}

s.discard('red')
print(s)

s.discard('pink')
print(s)

{'yellow', 'orange', 'purple', 'green', 'blue'}
{'yellow', 'orange', 'purple', 'green', 'blue'}

In [ ]:
s = {'red', 'yellow', 'orange', 'purple', 'green', 'blue'}

s.remove('red')
print(s)

s.remove('pink')
print(s)

{'yellow', 'orange', 'purple', 'green', 'blue'}

KeyError: 'pink'

Как можем заметить, discard защищает нас от удаления несуществующих элементов, а вот remove выдает ошибку, если попытаться удалить то, чего нет.

Метод `pop()` удалит случайный элемент, это связано с тем, что множество неупорядочено.

Метод `clear()` очистит множество.

# Операции с множествами

1. Подмножества

In [ ]:
set1 = {1, 2}
set2 = {1, 2}

set1 == set2 # все элементы set1 совпадают с элементами set2

True

In [ ]:
set1 = {1, 2}
set2 = {3, 4}

set1.isdisjoint(set2) # set1 и set2 не имеют ни одного общего элемента

True

In [ ]:
set1 = {1, 2}
set2 = {1, 2, 3}

print(set1.issubset(set2)) # все элементы set1 содержатся в set2
print(set1 <= set2)        # другой вариант записи

True
True

In [ ]:
set1 = {1, 2, 3}
set2 = {1, 2}

print(set1.issuperset(set2)) # в set1 содержатся все элементы set2
print(set1 >= set2)          # другой вариант записи

True
True

2. Объединение множеств

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4}

set1.union(set2)

{1, 2, 3, 4}

In [ ]:
set1 | set2

{1, 2, 3, 4}

In [ ]:
set1 |= set2 # равносильно set1.update(set2)
print(set1)

{1, 2, 3, 4}

3. Пересечение множеств

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

set1.intersection(set2)

{2, 3}

In [ ]:
set1 & set2

{2, 3}

In [ ]:
set1 &= set2 # равносильно set1.intersection_update(set2)
print(set1)

{2, 3}

4. Вычитание множеств

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4}

set1.difference(set2)

{1, 2}

In [ ]:
set1 - set2

{1, 2}

In [ ]:
set1 -= set2 # равносильно set1.difference_update(set2)
print(set1)

{1, 2}

5. Симметричная разность

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4}

set1.symmetric_difference(set2)

{1, 2, 4}

In [ ]:
set1 ^ set2

{1, 2, 4}

In [ ]:
set1 ^= set2 # равносильно set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 4}

# Frozenset - кто он такой?
Единстенное, чем frosenset отличается от обычного set, это тем, что он неизменяемый, то есть мы не можем добавлять и удалять элементы

# Задачи

1. Даны два слова, написанные строчными буквами. Определить минимальный алфавит для их написания.

In [ ]:
# Your code.

2. Дан массив слов. Вывести слова, в которых больше 2 гласных букв. Считайте, что гласные - это 'aeiou', а все слова написаны строчными буквами.

In [ ]:
# Your code.

3. Дан список студентов, которые попали на пересдачу по математическому анализу, список студентов, которые попали на пересдачу по алгебре, и список студентов, которые попали на пересдачу по алгоритмам. Выведите список студентов, у которых меньше 2 пересдач.

In [ ]:
# Your code.